<ion-card button color="dark" (click)="onCardClick($event)">
  <ion-card-header>
    <ion-avatar>
      <img alt="Silhouette of a person's head" [src]="user?.avatar" />
    </ion-avatar>
    <ion-card-title>
      <h2>{{ user?.name }} {{ user?.surname | surnameInitial }}</h2>
    </ion-card-title>
    <div class="card-buttons">
      <ion-button
        aria-label="Eliminar usuario"
        button
        fill="clear"
        (click)="onDeleteClick($event)"
      >
        <ion-icon
          aria-hidden="true"
          color="light"
          name="trash"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
      <ion-button
        aria-label="Añadir usuario a favoritos"
        button
        fill="clear"
        (click)="onFavClick($event)"
      >
        <ion-icon
          *ngIf="!user?.fav; else favIcon"
          aria-hidden="true"
          color="light"
          name="heart-outline"
          slot="icon-only"
        ></ion-icon>
        <ng-template #favIcon>
          <ion-icon
            aria-hidden="true"
            color="danger"
            name="heart"
            slot="icon-only"
          ></ion-icon>
        </ng-template>
      </ion-button>
    </div>
  </ion-card-header>

  <ion-card-content>
    <h3>Nombre</h3>
    <p>{{ user?.name }}</p>
    <h3>Apellidos</h3>
    <p>{{ user?.surname }}</p>
    <h3>Edad</h3>
    <p>{{ user?.age }} años</p>
  </ion-card-content>
</ion-card>
