<ion-content [fullscreen]="true">
  <div class="flex-center">
    <form [formGroup]="register" (ngSubmit)="onRegister()">
      <ion-item>
        <ion-input
          type="email"
          label="Email: "
          placeholder="ej. email@gmail.com"
          formControlName="identifier"
        />
      </ion-item>
      <ion-item>
        <ion-input
          type="password"
          label="Contraseña: "
          formControlName="password"
        />
      </ion-item>
      <ion-item>
        <ion-input
          type="password"
          label="Repetir contraseña: "
          formControlName="passwordRepeat"
        />
      </ion-item>
      <div>
        <ion-text color="danger">{{ errMsg }}</ion-text>
      </div>
      <ion-button
        type="submit"
        shape="round"
        [disabled]="!register.dirty || !register.valid"
      >
        Aceptar
      </ion-button>
    </form>
  </div>
</ion-content>
