.main-section {
  display: flex;

  .cards-section {
    flex-basis: 100%;
    margin: 0 3%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    display: grid;
  }
}

ion-menu {
  --min-width: 350px;
}
