<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> TaskHub </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="onProfileClick()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Mis favoritos</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content">
  
  <section class="buttons-section">
    <ion-button button (click)="onNewUser()">
      <ion-icon
        aria-hidden="true"
        name="add-circle-outline"
        slot="icon-only"
      ></ion-icon>
      {{"Nuevo usuario" | myUppercase}}
    </ion-button>
    <ion-menu-toggle>
      <ion-button>{{"Ver favoritos" | myUppercase}}</ion-button>
    </ion-menu-toggle>
    <ion-button (click)="navigateToTasks()">{{"Ver tareas" | myUppercase}}</ion-button>
  </section>

  <section class="main-section">
    <main class="cards-section" *ngIf="!loading">
      <app-user-info
        appHighlight
        *ngFor="let user of (users.users$ | async)"
        [user]="user"
        (onDeleteClicked)="onDeleteClicked(user)"
        (onCardClicked)="onCardClicked(user)"
      ></app-user-info>
    </main>
  </section>
  <ion-loading [isOpen]="loading" message="Cargando..."></ion-loading>
</ion-content>
