<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Gestor de usuarios </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="buttons-section">
    <ion-button button (click)="onNewUser()">
      <ion-icon
        aria-hidden="true"
        name="add-circle-outline"
        slot="icon-only"
      ></ion-icon>
      {{"Nuevo usuario" | myUppercase}}
    </ion-button>
    
    <ion-button (click)="showFavs()"
      >{{"Ver favoritos" | myUppercase}}</ion-button
    >
  </section>
  <section class="main-section">
    <main class="cards-section" *ngIf="!loading">
      <app-user-info
        appHighlight
        *ngFor="let user of (users.users$ | async) | favs:(favs.favs$ | async)"
        [user]="user"
        (onFavClicked)="onFavClicked(user.id, $event)"
        (onDeleteClicked)="onDeleteClicked(user)"
        (onCardClicked)="onCardClicked(user)"
      ></app-user-info>
    </main>

    <aside class="favs-section" *ngIf="favsVisible">
      <app-fav-info
        *ngFor="let fav of (favs.favs$ | async)"
        [id]="fav.id"
        (onFavRemoved)="onFavClicked(fav.id, $event)"
      ></app-fav-info>
    </aside>
  </section>
  <ion-loading [isOpen]="loading" message="Cargando..."></ion-loading>
</ion-content>
